.more {
    display: flex;
    flex-direction: column;
    padding: 15px 40px 0px 20px;

    .back {
        display: flex;
        align-items: center;
        column-gap: 14px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }

    .content {
        display: flex;
        column-gap: 40px;

        @media(max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .backImage {
        cursor: pointer;
    }

    .appointments {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        max-height: 600px;
        overflow-y: auto;

        @media(max-width: 1024px) {
            max-height: 190px;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: #EBE7FF;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #003B72;
            border-radius: 5px;
        }
    }

    
}